
<div data-test-id="page-summary">
	<h2 data-test-id="page-summary__title">{{ page.title }}</h2>
	<p>
		(<span data-test-id="page-summary__path">{{ page.path }}</span> -
		<span data-test-id="page-summary__status">{{ page.status }}</span>)
	</p>
</div>
