
{% layout 'admin/layouts/default' %}

{% block title -%}
	Dashboard
{%- endblock %}

{% block content %}

	<main>
		<h1>Dashboard</h1>
		<p>This is the Home CMS admin dashboard.</p>
	</main>

{% endblock %}
